@import "./_utilities.sass";


.footer {
  background-color: $color-bg-3;
  padding: 3rem;
  margin-top: $section-space;
  border-top: 2px solid $color-stroke;
  &__top {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.6rem;
  }
  &__link {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: 0.2s;
    &:hover {
      color: $color-green;
    }
  }
  &__credits {
    font-size: 1.5rem;
    max-width: 60ch;
    a {
      color: $color-green;
    }
  }
  &__icon {
    font-size: 2rem !important;
  }
  &__copyrights {
    text-align: end;
    margin-top: 6rem;
    font-size: 1.2rem;
    color: $color-text-low;
  }
}
[data-icon="email"] {
  font-size: 1.8rem !important;
}
