@import "./header", "./_utilities.sass", "./Footer", "./Hero", "./Skills",
  "./Project";
@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Bold.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

::selection {
  background-color: rgb(22, 53, 78, 0.6);
}
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(22, 53, 78, 0.6);
  border-radius: 100rem;
  padding: 0.5rem;
  &:hover {
    background-color: rgb(22, 53, 78, 0.8);
  }
}
::-webkit-scrollbar-track {
  border-radius: 100rem;
  background-color: rgb(1, 31, 55, 0.6);
}
/*************** Global reset ********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: clamp(8px, 1vw, 10px);
  overflow-x: hidden;
}

body {
  font-family: "Roboto Mono", monospace, sans-serif;
  background-color: $color-bg;
  color: $color-text;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100dvh;
  overflow-x: hidden;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
button,
a {
  background-color: none;
  border: none;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid $color-green !important;
  outline-offset: 0.2rem;
  transition: 0s !important;
}
.link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    bottom: -0.2rem;
    right: 0;
    transition: 0.2s cubic-bezier(0.79, 0.33, 0.14, 0.53);
    background-color: $color-green;
  }
  &:hover {
    color: $color-green;
  }

  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
@mixin wrapper {
  display: flex;
  background-color: $color-bg-2;
  border: $border-2;
  border-radius: $radius-md;
  padding: 1.5rem 2rem;
}

/***********************************/

.scroll-up {
}
.scroll-down {
  transform: translate3d(0, -100%, 0);
}
.blur-nav {
  backdrop-filter: blur(10px);
  background-color: $stroke-rgb;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
}

.lazy-blur {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $color-bg-low;
  backdrop-filter: blur(10px);
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.hidden-blur {
  backdrop-filter: blur(0);
  opacity: 0;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1rem 6rem;
  @media (max-width: 500px) {
    padding: 1rem 3rem;
  }
  @media (max-width: 450px) {
    padding: 1rem 2rem;
  }
}

.blur {
  width: $circle-width-1;
  height: $circle-height-1;
  filter: blur(50px);
  rotate: -15deg;
}
.circle {
  border-radius: 100vh;
  height: 100%;
  width: 100%;
  background-color: $color-circle-1;
  animation: scale 35s ease infinite;
  opacity: 0.05;
}
@keyframes scale {
  0%,
  100% {
    scale: 1;
    rotate: 0;
  }
  50% {
    scale: 1.2;
    rotate: 180deg;
  }
}
.blur2 {
  width: $circle-width-2;
  height: $circle-height-2;
  filter: blur(40px);
  rotate: -20deg;
  animation: scale 30s 5s ease infinite;
}
.circle2 {
  height: 100%;
  width: 100%;
  background-color: $color-circle-2;
  border-radius: 100vh;
  aspect-ratio: 1;
  opacity: 0.1;
}
